<ion-view view-title="Contacts">
  <ion-content>
    <ion-list>
            <ion-item>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon "><img src="img/simpsons1.jpg"/></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Oliver Queen</span>
                            <span class="info-box-number">Bus Driver</span>
                            <p>
                            	Contact No: 1234567890
                            </p>
	                     </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </ion-item>
            <ion-item>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon "><img src="img/index.jpg"/></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Felicity Smoak</span>
                            <span class="info-box-number">HR Person</span>
                            <p>
                            	Contact No: 1234567890
                            </p>
	                     </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </ion-item>
            <ion-item>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon "><i class="ion ion-ios-gear-outline fa-spin"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Contact Person</span>
                            <span class="info-box-number">Student Counsellor</span>
                            <p>
                            	Contact No: 1234567890
                            </p>
	                     </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </ion-item>
     </ion-list>  
  </ion-content>
</ion-view>
