<ion-view view-title="jingle bell">
  <ion-content>
    <h1>ringtones</h1>
     <ion-list>
           
            <ion-item>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box bg-aqua">
                        <span class="info-box-icon "><i class="ion ion-ios-gear-outline fa-spin"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">Current bell</span>
                            <span class="info-box-number">In Bus</span>
                        </div>
                        <!-- /.info-box-content -->
                    </div>
                    <!-- /.info-box -->
                </div>
            </ion-item>
     </ion-list>       
  </ion-content>
</ion-view>
